body {
  background-image: url("img/Group\ 75.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  /* background-color: #ffffff !important; */
}

.text3 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 51px;

  text-transform: uppercase;

  color: #ffffff;
  padding-top: 5em !important;
}
.text2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 0.5em;
}
.rectangle {
  background-color: #ffffff;
  width: 400px;
  height: 4px;
}
.footbar-button-home1 {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 300px;
  height: 50px;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff !important;
}
.row {
  padding-left: 3em !important;
}
.img {
  padding-top: 16em !important;
  padding-right: 5em !important;
  padding-bottom: 5em !important;
}
@media only screen and (max-width: 1200px) and (min-width: 200px) {
  .row {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding-top: 3em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .img {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
  .text3 {
    padding-top: 0 !important;
    text-align: center;
  }
  .text2 {
    padding-top: 0 !important;
    text-align: center;
  }
  .rectangle {
    display: none;
  }
  .container-fluid {
    justify-content: center;
  }
  .footbar-btn {
    justify-content: center !important;
    margin: 0 auto !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 425px) {
}

.img-under {
  width: 10% !important;
  position: absolute;
  right: 0;
  bottom: 0;
}

.countdown{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  transform: scale(2);
  justify-content: center;
  color: #ffffff;
}

.time{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 22px;
}
.content{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #c6ee12;
  margin-bottom: 3rem;
}

.time h2{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0 -2px -6px;
}
.flink-icon {
  color: dark;
  text-decoration: none;
}

@media (min-width: 310px) {
  .countdown{
    transform: none;
  }
  .content {
    margin-bottom: 0;
  }
  
}
 
@media (min-width: 768px) {
  .countdown{
    transform: scale(2);
  }
  .content {
    margin-bottom: 3rem;
  }
}